[Desktop Entry]
Version=1.0
Type=Application
Name=M3U Etcétera
GenericName=Music Player
X-GNOME-FullName=M3U Etcétera Music Player
Comment=A playlist-centric music player
Icon=m3u-etcetera
Exec=m3uetc-gtk
Terminal=false
StartupWMClass=m3uetc-gtk
MimeType=audio/x-mp3;application/x-id3;audio/mpeg;audio/x-mpeg;audio/x-mpeg-3;audio/mpeg3;audio/mp3;audio/x-m4a;audio/mpc;audio/x-mpc;audio/mp;audio/x-mp;application/ogg;application/x-ogg;audio/vorbis;audio/x-vorbis;audio/ogg;audio/x-ogg;audio/x-flac;application/x-flac;audio/flac;
Categories=AudioVideo;Audio;Player;GTK;
